<div class="works" id="works">
    <div class="works__item">
        <img class="works__photo" src="../static/work-1.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-2.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Кирстин</div>
            <div class="works__text">Меццо-Сопрано</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-3.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-4.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Скотт</div>
            <div class="works__text">Баритон</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-5.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Митчелл</div>
            <div class="works__text">Тенор-альтино</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-6.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-7.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Кевин «K.O»</div>
            <div class="works__text">битбоксера</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="../static/work-8.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
</div>