<div class="team" id="team">
    <div class="container">
        <div class="team__inner">

            <div class="team__item">
                <img class="team__photo" src="../static/team1.jpg" width="900" height="900" alt="">
                <div class="team__name">Скотт Ричард Хоуинг</div>
                <div class="team__prof">Баритон, вокал, бэк-вокал</div>
                <div class="social">
                    <a class="social__item" href="https://web.facebook.com/scotthoyingmusic/?_rdc=1&_rdr" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://twitter.com/scotthoying" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://www.instagram.com/scotthoying/" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="team__text">
                    <p>Родился 17 сентября 1991 года в Арлингтоне штата Техас, США. Окончил Martin High School в 2010 году. Начал выступать с 8 лет, выиграл школьный конкурс талантов «Martin Idol» в 2007 году, стал призёром конкурса Star Search CBC. Получил бакалаврскую степень в области поп-музыки в Университете Южной Калифорнии. В Университете пел в акапелла хоре «SoCaL VoCaLs».</p>
                    <p>По совету друга Скотт решил найти битбоксера и бас, чтобы дополнить имеющееся трио с его друзьями Кирстин и Митчем, организовать акапелла группу для участия в шоу «The Sing-Off».Играет на фортепиано, способен петь басовые партии и битбоксить. Является большим поклонником Beyonce.Снялся в 16 эпизоде 11 сезона сериала «Кости», где исполнил роль Теда Гиббса.С 2013 года совместно с Грасси ведёт канал «Superfruit» на YouTube.</p>
                </div>

            </div>

            <div class="team__item">
                <img class="team__photo" src="../static/team2.jpg" width="900" height="900" alt="">
                <div class="team__name">Кирстин Тейлор Мальдонадо</div>
                <div class="team__prof">Меццо-Сопрано, лид- и бэк-вокал</div>
                <div class="social">
                    <a class="social__item" href="https://web.facebook.com/kirstinmaldonado/?_rdc=1&_rdr" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://twitter.com/kirstin_taylor" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://www.instagram.com/kirstintaylor12/" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
            
                <div class="team__text">
                    <p>Родилась в Форт-Уэрт штата Техас 16 мая 1992 года. Мать имеет итало-испанские корни, отец — мексиканец. Выросла в Арлингтоне. В 5 лет захотела стать певицей, и после исполнения на свадьбе матери песни в 8 лет начала брать уроки пения. В школе подружилась с Грасси и Хоуингом, с кем позже решила создать музыкальную а-капелла группу. Она оставила обучение в Университете Оклахомы ради музыкальной карьеры в Pentatonix.</p>
                    <p>Снялась в 16 эпизоде 11 сезона сериала «Кости», где исполнила роль Лиз Дерван.19 мая 2017 года Мальдонадо официально выпустила свой первый сингл и видео «Break a Little». Её дебютный альбом «L O V E» появился 14 июля 2017 года. С февраля по май 2018 года она выступала в Бродвейском мюзикле «Kinky Boots» с Джейком Ширзом и Вэйном Брэди.
                    Может петь в свистковом регистре.</p>
                </div>
            </div>

            <div class="team__item">
                <img class="team__photo" src="../static/team3.jpg" alt="">
                <div class="team__name">Кевин «K.O» Олушола</div>
                <div class="team__prof">Битбокс, тенор, вокальная перкуссия, бэк-вокал, виолончель</div>
                <div class="social">
                    <a class="social__item" href="https://web.facebook.com/KO1Music?_rdc=1&_rdr" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://twitter.com/kolusola" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://www.instagram.com/kolusola/" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
           

                <div class="team__text">
                    <p>Родился 5 октября 1988 года в Оуэнсборо, штат Кентукки, США в семье психиатра нигерийского происхождения Олуволе Олушола и его жены медсестры из Гренады Карлин Пол. Помимо Кевина в семье есть ещё 5 детей: брат и 4 сестры. Проявив с младенчества музыкальные способности, Кевин начал учиться игре на фортепиано в 4 года, на виолончели — в 6, на саксофоне — в 10. Позже освоил битбокс, выкладывал в YouTube свои импровизации, появлялся в передаче на китайском телевидении и на Всемирной выставке в Шанхае (2010).</p>
                    <p>Кевин поступил в Йельский университет, но по программе поддержки образования студентов провёл 6 месяцев в Пекине и в 2009—2010 годах взял академический отпуск, чтобы учить китайский язык в Inter-University Program for Chinese Language Study в Пекине. В 2011 году он выпустился из Йеля. В 2011 году Скотт Хоуинг, Кирстин Мальдонадо и Митч Грасси нашли видео Кевина (где он celloboxing, то есть играет на виолончели и битбоксит одновременно) и пригласили принять с ними участие в 3-м сезоне шоу «The Sing-Off». Все участники группы встретились за день до прослушивания, и в итоге стали победителями.</p>
                </div>
            </div>    
            <div class="team__item">
                <img class="team__photo" src="../static/team4.jpg" alt="">
                <div class="team__name">Митчелл Коби Майкл Грасси</div>
                <div class="team__prof">Тенор-альтино, лид- и бэк-вокал</div>
                <div class="social">
                    <a class="social__item" href="https://web.facebook.com/mitchgrassiptx?_rdc=1&_rdr" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://twitter.com/mitchgrassi" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="https://www.instagram.com/mitchgrassi/" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="team__text">
                    <p>Родился в Арлингтоне штата Техас, США 24 июля 1992 года. Имеет итальянские корни. Вместе со школьными друзьями Скоттом Хоуингом и Кирстин Мальдонадо исполнял акапелла каверы и поддержал идею участвовать в шоу «The Sing-Off» с битбоксером Кевином Олушола и басом Ави Капланом.</p>
                    <p>Снялся в 14 серии 3 сезона сериала «Glee», где исполнил эпизодическую роль участника хора «The Golden Goblets». Снялся в 16 эпизоде 11 сезона сериала «Кости», где исполнил роль Джулиана Клейна. С 2013 года совместно с Скоттом Хоуингом ведёт канал «Superfruit» на YouTube.Является открытым геем.Может петь в свистковом регистре.</p>
                </div>
            </div>    
        </div>
    </div>
</div>